<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Form İşlemleri</title>
  </head>

  <body>
    <h1>Flask Form İşlemleri</h1>
    <h2>Veri gönderme (POST)</h2>
    <form name="form" action="post_alma" method="POST">
      <label for="anahtarKelime">Anahtar Kelime: </label>
      <input type="text" id="anahtarKelime" name="anahtarKelime">
      <button type="submit">Gönder</button>
    </form>
  </body>
</html>
